.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Prompt {
  text-align: left;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 3%;
  color: black;
  margin: auto;
}

.button {
    height: 200px;
    width: 200px;
    margin: 10px;
}
body {
  background-color: #c0e0db;
}


.helllooooo {
  height: 300px
}
